
body {
    font-family: Arial, Helvetica, sans-serif;
}

.Weather {
    border: 1px solid darkblue;
    border-radius: 5px;
    margin: 21px auto;
    max-width: 600px;
}
.Weather h1 {
font-size: 24px;
font-weight: 500;
line-height: 29px;
}
.tear {
    color: blue;
}
.wind {
    color: blue;
}
.Weather h2  {
   font-size: 20px;
    font-weight: 400;
    text-align: center;
    }
    .Weather hr {
       text-align: center;
       max-width: 550px;
       padding: 10px 0 10px 0;
        }